.title {
  @include def-font;
  font-size: 24px;
  padding: 15px 0;
  user-select: none;
}

h1.title {}

.page {
  padding: 30px 10px;
  min-height: calc(100vh - #{$header-height});
  background: $bg-light-gray;
}

.link {
  cursor: pointer;
  &, p, path {
    transition-duration: 0.4s;
  }
  p {
    transition-property: color;
  }
  &:hover p {
    color: $font-color-active;
  }
  &:hover path {
    fill: $font-color-active;
  }
}

.spacer {
  flex: 10;
}

.hr {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background: $color-border-gray;
}
